/*Code for board*/
.container{
	height: 608px;
	width: 608px;
	border:1px;
}
/*Keeps from overlapping*/
div{
	overflow:hidden;
	height:200px;
	width:200px;
}
/*X's and O's*/
select{

	width:600px;
	height:200px;
	color:white;
	border-color: black;
	font-size: 10em;
	text-indent: 45px;
}
/*The tiles of the board*/
.boxs{
height: 200px;
width:200px;
border: solid black 1px;
float: left; 
}
/*Colors tiles Red*/
.r{
	background-color: red;
}
/*Colors tiles Black*/
.b{
	background-color: black;
}